/* font-family: 'Hind Madurai', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #2d283E;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3 {
	font-weight: 900;
}
p {
	font-family: 'Lora', sans-serif;
	font-weight: 400;
}
ul {
	list-style-type: none; /* Remove bullets */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}

.title{
	margin-bottom: 10px;
}
.montserrat {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.padding {
	padding: 0%;
}

.btn-lg {
	font-size: 2rem;
}

.head-1{
	color: #9446ED;
}
.head-2{
	color: #B990FF;
}
.head-3{
	color: #DAC4FF;
}

.head-4{
	color: #F2EBFE;
}


.btn-primary,
.btn-primary:active,
.btn-primary:visited {
	background-color: #44056E !important;
	border-color: #66229E;
	color: #FFF;
}
.btn-primary:hover{
	background-color: #FFF !important;
	border-color: #FFF;
	color: #000;
}

.open-form{
	font-size: 3rem;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
	background-color: #8064a2 !important;
}

.inline-block {
	display: inline-block;
}
.card {
	border-color: transparent;
	background-color: #a081d9;
}
.call-to-action-card {
	width: 100%;
}
.result-card {
	width: 100%;
}

.share-link {
	margin-top: 20px;
}

@media (min-width: 720px) {
	.modal-xl {
		width: 90%;
		max-width: 1200px;
	}
	.padding {
		padding: 5%;
	}
	.call-to-action-card {
		width: 50%;
	}
	.result-card {
		width: 50%;
	}
}
@media (min-width: 1000px) {
	.modal-xl {
		width: 90%;
		max-width: 1200px;
	}
	.padding {
		padding: 5%;
	}
	.call-to-action-card {
		width: 33%;
	}
	.result-card {
		width: 66%;
	}
}

.tooltip2 {
	position: relative;
	display: inline-block;
}

.tooltip2 .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
	font-family: 'Lora', sans-serif;
	font-weight: 400;
}

.tooltip2 .tooltiptext::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip2:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
