/* font-family: 'Hind Madurai', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */
body {
	font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
}
h1,
h2 {
	font-weight: 900;
}
p {
	font-family: 'Lora', sans-serif;
	font-weight: 400;
}
ul {
	list-style-type: none; /* Remove bullets */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}
.montserrat {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.btn-lg {
	font-size: 2rem;
}
.margin {
	margin: 0%;
}
/* .refer{
	text-align:center;
} */
@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width: 1200px;
	}
	.margin {
		margin: 5%;
	}
}
